.container {
  width: 400px;
  height: 100px;
  overflow-y: hidden;
  position: relative;
  margin: 0 auto;
}

.increase {
  position: absolute;
  right: 2%;
  top: 35%;
  border: none;
  background: rgba(3, 182, 78, 0.76);
}

.decrease {
  position: absolute;
  right: 22%;
  top: 35%;
  border: none;
  background: rgba(170, 182, 3, 0.76);
}

.delete {
  position: absolute;
  left: 2%;
  top: 35%;
  border: none;
  background: rgba(182, 3, 3, 0.76);
}

.number {
  position: absolute;
  left: 35%;
  top: 35%;
  font-size: 24px;
}

/* .reset {
} */

.navContainer {
  /* border: 1px solid blue; */
  background: rgba(69, 40, 199, 0.5);
  height: 100px;
  text-align: center;
  color: black;
}

.shopCount {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 18px;
  line-height: 30px;
  /* margin-top: 20px; */
  background: rgb(58, 58, 233);
  margin: 10px auto;
}
